a{
   font-family: helvetica;
   color:white;
   font-size: 10px;
   text-decoration: none;
}
body{
   background-color: #000000;
}
header{
   color:white;
   text-align: center;
   font-family: helvetica;
   font-weight: 100;
   font-size: 20px
}

p{
   color: #000000;

}
li{
   color:white;
   list-style: none;
}
.navigation{
   width: 20%;
   /*background-color: yellow;*/
}

.navigation li{
   padding-top: 10px;
   padding-bottom: 20px;

}
.copyright{
   width: 50%;
   color: white;
   font-family: helvetica;
   font-weight: 100;
   font-size: 10px;
   float:left;
}
.copyright {
   float:left;
   padding-top: 20px;
   text-indent: 4em;
}
.social{
   float:right;
   width: 42%;
   padding-right: 4em;
}
.social li{
   float:right;
   padding-left: 5%;
}
.social img{
   width:25px;
   height:25px;
}
