a{
   font-style: helvetica;
   color:white;
   text-decoration: none;
}
body{
   background-color: #000000;
}
p{
   color: #000000;

}
li{
   color:white;
   list-style: none;
}
.navigation{
   width: 20%;
   /*background-color: yellow;*/
}

.navigation li{
   padding-top: 10px;
   padding-bottom: 20px;

}
