{% load staticfiles%}

<html>
   <head>
      <link rel="stylesheet" href="{% static "css/style.css" %}">
      <title>moringa</title>
   </head>
   <body>
      <header>
         <div class="logo">
            <img src="{% static "img/moringa.png" %}" alt="">
         </div>
         <div class="page"></div>
      </header>
   <div class="container">


      <div class="navigation">
         <ul>
            <li>
               <a  class="home" href="">home</a>
            </li>
            <li><a class="porfolio" href="#">portfolio</a>
            </li>
            <li><a class="team" href="#">team</a>
            </li>
            <li><a class="contact" href="#">contact</a>
            </li>
         </ul>
      </div>
      <div class="content">
         {% block content %}

         {% endblock content %}
      </div>
   </div>

   </body>
   <footer>
   <div class="copyright">
      <ul>
         <li>
            &copy; Moringa Devshop 2016
         </li>
      </ul>
   </div>
   <div class="social">
      <ul>
         <li>
            <a href="https://twitter.com/moringadevshop"><img src="{% static "img/twitter.png" %}" alt=""></a>
         </li>

         <li><a href="https://www.facebook.com/moringadevshop/?ref=hl"><img src="{% static "img/facebook.png" %}" alt=""></a>
         </li>

         <li><a href="https://www.linkedin.com/company/moringa-devshop?trk=top_nav_home"><img src="{% static "img/linkedin.png" %}" alt=""></a>
         </li>

         <li>
            <a href="https://www.instagram.com/moringadevshop/"><img src="{% static "img/instagram.png" %}" alt=""></a>
         </li>

         <li>
            <a href="https://goo.gl/maps/1ftpPHEijyp"><img src="{% static "img/maps.png" %}" alt=""></a>
         </li>
      </ul>
   </div>
   </footer>
   <script src="" type="text/javascript"></script>
</html>
